{% from "partials/pipeline_row.html" import render_pipeline %}

{% if grouped_pipelines.in_progress %}
<tr class="section-header">
    <th colspan="7">In progress</th>
</tr>
{% for pipeline in grouped_pipelines.in_progress %}
{{ render_pipeline(pipeline) }}
{% endfor %}
{% endif %}

{% if grouped_pipelines.awaiting_publishing %}
<tr class="section-header">
    <th colspan="7">Awaiting publishing</th>
</tr>
{% for pipeline in grouped_pipelines.awaiting_publishing %}
{{ render_pipeline(pipeline) }}
{% endfor %}
{% endif %}

{% if grouped_pipelines.completed %}
<tr class="section-header">
    <th colspan="7">Completed</th>
</tr>
{% for pipeline in grouped_pipelines.completed %}
{{ render_pipeline(pipeline) }}
{% endfor %}
{% endif %}

{% if not grouped_pipelines.awaiting_publishing and not grouped_pipelines.in_progress and not grouped_pipelines.completed %}
<tr>
    <td colspan="7" style="text-align: center;">No builds found</td>
</tr>
{% endif %}
