name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up venv
        run: |
          uv venv
          uv sync

      - name: Check code formatting
        run: uv run ruff format --check .

      - name: Check for code errors
        run: uv run ruff check .

      - name: Run type checking
        run: uv run mypy .

      - name: Run tests
        run: |
          uv run alembic upgrade head
          uv run pytest -v
